
h1{
    margin: 50px ;
}

h2 {
    margin-left: 50px ;
}

h3 {
    font-size:10px;
    font-weight: bold;
}

h4 {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin: 50px;
}

h5 {
    
    text-align: center;
    font-size: 18px;
}

h6 {
    font-size: 20px;
    font-weight: bold;
    margin: 30px;
    text-align: center;
}

h7 {
    font-size: 10px;
    font-weight: bold;
}


p {
    margin-left: 50px;
    font-size: 18px;  
}



.icons {
    margin: 50px;
}

.iconos_obj {
    margin-top: 30px;
}

.icon_1{
    margin-top: 30px;
}

span {
    font-size: large;
    font-weight:bold;
    color: rgb(255, 255, 255)
}

.home {
    background-color: lavender;
}

.card {
    color: white;
    font-size: large;
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: rgb(0, 0, 0);
    height: 60px;
    width: 200px;
    margin: 50px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    line-height: 24px;
}

.card:hover {
    background-color: gray;
}

.enviar {
    border-radius: 4px;
    background-color: rgb(0, 0, 0);
    font-size: 10px;
    display: flex;
    margin: 20px;
    justify-content: center;
    align-items: center;
    padding: 12px;
    height: 10px;
    width: 70px;
}

.svg-icon {
    margin-right: 15px;
    cursor: pointer;
}

.logo {
    /* margin-right: 350px;
    margin-bottom: 100px; */
}

.name-text {
    font-size:50px;
    font-weight: 400;
    font-family: sans-serif;
    color:black;
    margin-top: 50px;
}

.linia {
    margin-top: 50px;
    
}

.paint_line {
    background-color: rgb(186, 112, 255);
}

#checkbox {
    margin-top: 20px;
}

var {
    
    font-size: 10px;
    margin-top: 15px;
}

.user-photo {
    border-radius: 50%;
}

@media (max-width: 959px) {
    .principal-text {
        text-align: center;
    }
}

@media (max-width: 959px) {
    .text-header {
        margin: 0 !important;
        width: 90%;
    }
}

.content {
    max-width: 100%;
}


@media (max-width: 600px) {
    .list-object {
        margin-top: 50px;
    }
}








  

  

  