<div style="width: 100%;" fxLayout="row" class="mat-typography wrapper">

 <div  fxFlex="20" fxShow="true" fxHide.lt-md="true">
    <div class="append-menu" fxLayout="column">
      <span class="form-item" [class.light-text]="this.step==1">01. Datos demográficos</span>
      <span class="form-item" [class.light-text]="this.step==2">02. Historial clínico</span>
      <span class="form-item" [class.light-text]="this.step==3">03. Exposición a tóxicos contaminantes</span>
      <span class="form-item" [class.light-text]="this.step==4">04. Historial laboral</span>
      <span class="form-item" [class.light-text]="this.step==5">05. Historial familiar</span>
    </div>

 </div>
 <div fxFlex.gt-sm="80" fxFlex="100">
    <div style="width: 100%;" fxLayout="column" fxLayoutAlign="center start">
      <h1 class="form-title">{{this.getTitle()}}</h1>
      <p class="nsnc-informer">Para cualquier respuesta que desconozcas encontrarás la opción <i>NS/NC</i>.</p>
    </div>
    <mat-horizontal-stepper  #stepper>


        <mat-step [stepControl]="demographicDetails" [editable]="true">
            <div class="questions-div">
              <form [formGroup]="demographicDetails">
                  <h2>Información personal</h2>
                  <div style="width: 100%;" fxLayout.gt-sm="row" fxLayout="column">
                    <mat-form-field appearance="outline" fxFlex.gt-sm="30">
                        <mat-label>Fecha de nacimiento</mat-label>
                        <input matInput formControlName="birthDate" required type="date">

                      </mat-form-field>
                      <mat-form-field appearance="outline" fxFlex.gt-sm="30" fxFlexOffset.gt-sm="10">
                        <mat-label>Sexo</mat-label>
                        <select  matNativeControl  formControlName="gender" matInput>
                            <option value="" disabled>Indica tu sexo</option>
                            <option *ngFor="let gen of generos" [ngValue]="gen">{{gen}}</option>
                        </select>
                      </mat-form-field>
                  </div>

                  <h2>Lugar de residencia</h2>
                  <div fxLayout="column" >
                    <div fxLayout="column" fxLayout.gt-sm="row">
                      <mat-form-field appearance="outline" fxFlex.gt-sm="30" fxFlex="45">
                        <mat-label>País de residencia</mat-label>
                        <select  matNativeControl  formControlName="residenceCountry" matInput (change)="changeRegions()">
                            <option value="" disabled>Indica el país</option>
                            <option *ngFor="let c of countries" [ngValue]="c">{{c.name}}</option>
                        </select>

                      </mat-form-field>
                      <div fxFlex="5" fxHide.lt-md="true"></div>
                      <mat-form-field appearance="outline" fxFlex.gt-sm="30" fxFlex="45">
                        <mat-label>Región de residencia</mat-label>
                        <select  matNativeControl  formControlName="residenceRegion" matInput (change)="changeCities()">
                            <option value="" disabled>Indica la región</option>
                            <option *ngFor="let r of regions" [ngValue]="r">{{r.name}}</option>
                        </select>

                      </mat-form-field>
                      <div fxFlex="5" fxHide.lt-md="true"></div>

                      <mat-form-field appearance="outline" fxFlex.gt-sm="30" fxFlex="45">
                        <mat-label>Ciudad de residencia</mat-label>
                        <select  matNativeControl  formControlName="residenceCity" matInput>
                            <option value="" disabled>Indica la ciudad</option>
                            <option *ngFor="let c of cities" [ngValue]="c">{{c.name}}</option>
                        </select>

                      </mat-form-field>
                    </div>
                    <div  fxLayout="column" fxLayout.gt-sm="row">
                      <mat-form-field appearance="outline" fxFlex.gt-sm="30" fxFlex="45">
                        <mat-label>Código postal</mat-label>
                        <input matInput formControlName="residencePostCode" required type="number">
                      </mat-form-field>
                      <div fxFlex="5" fxHide.lt-md="true"></div>

                      <mat-form-field appearance="outline" fxFlex.gt-sm="30" fxFlex="45">
                        <mat-label>Año inicial de residencia</mat-label>
                        <input matInput formControlName="residenceInitialYears" required type="number">
                      </mat-form-field>
                      <div fxFlex="5" fxHide.lt-md="true"></div>

                      <mat-form-field appearance="outline" fxFlex.gt-sm="30" fxFlex="45">
                        <mat-label>Año final de residencia</mat-label>
                        <input matInput formControlName="residenceEndYears" required type="number">
                      </mat-form-field>
                    </div>
                  </div>


                  <!-- Born Form Questions -->
                  <h2>Lugar de nacimiento o primera residencia importante</h2>
                  <div fxLayout="column" >
                    <div fxLayout="column" fxLayout.gt-sm="row">
                      <mat-form-field appearance="outline" fxFlex.gt-sm="30" fxFlex="45">
                        <mat-label>País</mat-label>
                        <select  matNativeControl  formControlName="bornCountry" matInput (change)="changeBornRegions()">
                            <option value="" disabled>Indica el país</option>
                            <option *ngFor="let c of bornCountries" [ngValue]="c">{{c.name}}</option>
                        </select>

                      </mat-form-field>
                      <div fxFlex="5" fxHide.lt-md="true"></div>

                      <mat-form-field appearance="outline" fxFlex.gt-sm="30" fxFlex="45">
                        <mat-label>Región de residencia</mat-label>
                        <select  matNativeControl  formControlName="bornRegion" matInput (change)="changeBornCities()">
                            <option value="" disabled>Indica la región</option>
                            <option *ngFor="let r of bornRegions" [ngValue]="r">{{r.name}}</option>
                        </select>

                      </mat-form-field>
                      <div fxFlex="5" fxHide.lt-md="true"></div>

                      <mat-form-field appearance="outline" fxFlex.gt-sm="30" fxFlex="45">
                        <mat-label>Ciudad de residencia</mat-label>
                        <select  matNativeControl  formControlName="bornCity" matInput>
                            <option value="" disabled>Indica la ciudad</option>
                            <option *ngFor="let c of bornCities" [ngValue]="c">{{c.name}}</option>
                        </select>
                      </mat-form-field>
                      </div>
                      <div fxLayout="column" fxLayout.gt-sm="row">
                        <mat-form-field appearance="outline" fxFlex.gt-sm="30" fxFlex="45">
                          <mat-label>Código postal</mat-label>
                          <input matInput formControlName="bornPostCode" required type="number">
                        </mat-form-field>
                        <div fxFlex="5" fxHide.lt-md="true"></div>

                        <mat-form-field appearance="outline" fxFlex.gt-sm="30" fxFlex="45">
                          <mat-label>Año inicial de residencia</mat-label>
                          <input matInput formControlName="bornInitialYears" required type="number">
                        </mat-form-field>
                        <div fxFlex="5" fxHide.lt-md="true"></div>

                        <mat-form-field appearance="outline" fxFlex.gt-sm="30" fxFlex="45">
                          <mat-label>Año final de residencia</mat-label>
                          <input matInput formControlName="bornEndYears" required type="number">
                        </mat-form-field>
                    </div>
                    </div>
                  <div fxLayout="row" fxLayoutAlign="end center">
                    <button mat-button matStepperNext (click)="this.next()" [disabled]="this.demographicDetails.invalid">Siguiente</button>
                  </div>
                </form>
            </div>
        </mat-step>
          <mat-step  [stepControl]="clinicDetails" [editable]="true">
            <div class="questions-div">
              <form [formGroup]="clinicDetails">
                  <h2>Diagnóstico</h2>
                  <div fxLayout="column" fxLayout.gt-sm="row">
                    <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-sm="30">
                      <mat-label>Año diágnostico</mat-label>
                      <input matInput formControlName="yearDiagnose" required type="number">
                    </mat-form-field>
                    <div fxFlex="5" fxHide.lt-md="true"></div>

                    <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-sm="30">
                      <mat-label>Tipo de cáncer</mat-label>
                      <select  matNativeControl  formControlName="cancerType" matInput (change)="enableOtherCancerField()">
                        <option value="" disabled>Indica el tipo</option>
                        <option *ngFor="let t of cancerTypes" [ngValue]="t">{{t}}</option>
                      </select>

                    </mat-form-field>
                    <div fxFlex="5" fxHide.lt-md="true"></div>

                    <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-sm="30">
                      <mat-label>Otros</mat-label>
                      <input matInput formControlName="otherCancerType" type="text">
                    </mat-form-field>
                  </div>

                  <h3>¿Sabe si se ha detectado alguna mutación en su tumor?</h3>
                  <div fxLayout="column" fxLayout.gt-sm="row">
                    <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-sm="30">
                      <mat-label>Respuesta</mat-label>
                      <select  matNativeControl  formControlName="mutationAnswer" matInput (change)="enableMutationType()">
                          <option value="" disabled>Indica la respuesta</option>
                          <option *ngFor="let t of mutationAnswer" [ngValue]="t">{{t}}</option>
                      </select>
                    </mat-form-field>
                    <div fxFlex="5" fxHide.lt-md="true"></div>
                    <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-sm="30">
                      <mat-label>Tipo de mutación</mat-label>
                      <select  matNativeControl  formControlName="mutationType" matInput (change)="enableOtherMutationType()">
                          <option value="" disabled>Indica el tipo</option>
                          <option *ngFor="let t of mutationTypes" [ngValue]="t">{{t}}</option>
                      </select>
                    </mat-form-field>
                    <div fxFlex="5" fxHide.lt-md="true"></div>
                    <mat-form-field appearance="outline"fxFlex="100" fxFlex.gt-sm="30" >
                      <mat-label>Otros</mat-label>
                      <input matInput formControlName="otherMutationType" type="text">
                    </mat-form-field>
                  </div>
                  <h3>¿Se ha operado su tumor de pulmón?</h3>
                  <div fxLayout="column" fxLayout.gt-sm="row">
                    <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-sm="30">
                      <mat-label>Respuesta</mat-label>
                      <select  matNativeControl  formControlName="sugeryAnswer" matInput (change)="enableSurgeryYear()">
                          <option value="" disabled>Indica la respuesta</option>
                          <option *ngFor="let t of surgeryAnswers" [ngValue]="t">{{t}}</option>
                      </select>
                    </mat-form-field>
                    <div fxFlex="5" fxHide.lt-md="true"></div>
                    <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-sm="30">
                      <mat-label>Año de la operación</mat-label>
                      <input matInput formControlName="surgeryYear" required type="number">
                    </mat-form-field>
                    <div fxFlex="5" fxHide.lt-md="true"></div>
                    <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-sm="30">
                      <mat-label>Tratamiento complementario</mat-label>
                      <select  matNativeControl  formControlName="surgeryExtraTreatment" matInput>
                          <option value="" disabled>Indica la respuesta</option>
                          <option *ngFor="let t of surgeryExtraTreatments" [ngValue]="t">{{t}}</option>
                      </select>
                    </mat-form-field>
                  </div>
                  <h3>¿Su tumor ha desarrollado metástasis?</h3>
                  <div fxLayout="column">
                    <div fxLayout="column" fxLayout.gt-sm="row">
                      <mat-form-field appearance="outline" fxFlex.gt-sm="30">
                        <mat-label>Respuesta</mat-label>
                        <select  matNativeControl  formControlName="metastasisAnswer" matInput (change)="enableMetastasisTypes()">
                            <option value="" disabled>Indica la respuesta</option>
                            <option *ngFor="let t of surgeryAnswers" [ngValue]="t">{{t}}</option>
                        </select>
                      </mat-form-field>
                      <div fxFlex="5" fxHide.lt-md="true"></div>

                      <mat-form-field appearance="outline" fxFlex.gt-sm="30">
                        <mat-label>Año de la metástasis</mat-label>
                        <input matInput formControlName="metastasisYear" required type="number">
                      </mat-form-field>
                      <div fxFlex="5" fxHide.lt-md="true"></div>

                      <mat-form-field appearance="outline" fxFlex.gt-sm="30">
                        <mat-label>Tratamiento</mat-label>
                        <select  matNativeControl  formControlName="metastatisTreatment" matInput (change)="enableOtherMetastasis()">
                            <option value="" disabled>Indica el tratamiento</option>
                            <option *ngFor="let t of metastasisOptions" [ngValue]="t">{{t}}</option>
                        </select>
                      </mat-form-field>
                    </div>

                    <mat-form-field appearance="outline" >
                      <mat-label>Otros tratamientos</mat-label>
                      <input matInput formControlName="otherMetastasisTreatment" type="text">
                    </mat-form-field>
                  </div>
                  <h3>(No operado - No metástasis) ¿Ha realizado algún tratamiento (no cirugía)?</h3>
                  <div fxLayout="column" fxLayout.gt-sm="row">
                    <mat-form-field appearance="outline" fxFlex.gt-sm="40">
                      <mat-label>Respuesta</mat-label>
                      <select  matNativeControl  formControlName="noSurgeryTreatmentAnswer" matInput (change)="enableOtherMetastasisTreatments()">
                        <option value="" disabled>Indica la respuesta</option>
                        <option *ngFor="let t of otherMetastasisTreatments" [ngValue]="t">{{t}}</option>
                      </select>
                    </mat-form-field>
                    <div fxFlex="5" fxHide.lt-md="true"></div>

                    <mat-form-field appearance="outline" fxFlex.gt-sm="55">
                      <mat-label>Otros tratamientos</mat-label>
                      <input matInput formControlName="otherNonSurgeryTreatment" type="text">
                    </mat-form-field>
                  </div>


                  <h3>¿Le han diagnosticado alguna enfermedad pulmonar previa al cáncer de pulmón?</h3>
                  <div fxLayout="column">
                    <div fxLayout="row">
                      <mat-form-field appearance="fill" fxFlex.gt-sm="55" fxFlex="100">
                        <mat-label>Enfermedades previas</mat-label>
                        <mat-select  formControlName="previousDiseases" multiple (selectionChange)="enableOtherPreviousDisease()">
                          <mat-option *ngFor="let t of previousDiseasesOptions" [value]="t">{{t}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                      <div fxFlex="45" fxHide.lt-md="true"></div>

                    </div>

                    <div fxLayout="row">
                      <mat-form-field appearance="outline" fxFlex.gt-sm="55" fxFlex="100">
                        <mat-label>Otros</mat-label>
                        <input matInput formControlName="otherPreviousDiseases" type="text">
                      </mat-form-field>
                      <div fxFlex="45" fxHide.lt-md="true"></div>
                    </div>

                  </div>


                  <h2>Datos de otros tumores</h2>
                  <h3>Aparte del cáncer de pulmón, ¿se le ha diagnosticado otro tipo de cáncer?
                  </h3>
                  <mat-form-field appearance="outline" >
                    <mat-label>Respuesta</mat-label>
                    <select  matNativeControl  formControlName="additionalDiagnoseAnswer" matInput>
                      <option value="" disabled>Indica la respuesta</option>
                      <option *ngFor="let t of surgeryAnswers" [ngValue]="t">{{t}}</option>
                    </select>
                  </mat-form-field>
                  <div fxLayout="column">
                    <span>Para cada tipo de cáncer que haya experimentado añada una pestaña y rellene los datos relacionados.</span>
                    <div fxLayout="row" fxLayoutAlign="center center">
                      <button mat-button type="button" (click)="addCancerItem()" >Añadir</button>
                      <button mat-button type="button" (click)="deleteCancerItem()">Eliminar</button>
                    </div>
                  </div>


                  <div formArrayName="otherCancers"
                    *ngFor="let item of getOtherCancers['controls']; let i = index;"
                  class="cancerType">
                    <div [formGroupName]="i" >
                      <h3>Tipo de cáncer - {{i+1}}</h3>
                      <div fxLayout="row" fxLayout.lt-md="column">
                        <mat-form-field appearance="outline" >
                          <mat-label>Tipo de cáncer</mat-label>
                          <select  matNativeControl  formControlName="type" matInput >
                            <option value="" disabled>Indica el tipo</option>
                            <option *ngFor="let o of otherCancerTypes" [ngValue]="o">{{o}}</option>
                          </select>
                        </mat-form-field>
                        <div fxFlex="10"></div>
                        <mat-form-field appearance="outline">
                          <mat-label>Año de diagnóstico</mat-label>
                          <input matInput formControlName="year" required type="number">
                        </mat-form-field>
                      </div>
                      <div fxLayout="row" fxLayout.lt-md="column">
                        <mat-form-field appearance="outline" >
                          <mat-label>¿Ha desarrollado metástasis?</mat-label>
                          <select  matNativeControl  formControlName="metastasis" matInput (change)="enableOtherCancerMetastasisYear(i)">
                            <option value="" disabled>Indica la respuesta</option>
                            <option *ngFor="let t of surgeryAnswers" [ngValue]="t">{{t}}</option>
                          </select>
                        </mat-form-field>
                        <div fxFlex="10"></div>
                        <mat-form-field appearance="outline">
                          <mat-label>Año de la metástasis</mat-label>
                          <input matInput formControlName="metastasisYear" required type="number">
                        </mat-form-field>
                      </div>
                      <div fxLayout="row" fxLayout.lt-md="column">
                        <mat-form-field appearance="outline" >
                          <mat-label>¿Ha realizado tratamiento?</mat-label>
                          <select  matNativeControl  formControlName="treatmentAnswer" matInput (change)="enableOtherCancerTreatments(i)">
                            <option value="" disabled>Indica la respuesta</option>
                            <option *ngFor="let t of surgeryAnswers" [ngValue]="t">{{t}}</option>
                          </select>
                        </mat-form-field>
                        <div fxFlex="10"></div>
                        <mat-form-field appearance="outline">
                          <mat-label>¿Qué tipo de tratamiento?</mat-label>
                          <select  matNativeControl  formControlName="treatmentType" matInput>
                            <option value="" disabled>Indica la respuesta</option>
                            <option *ngFor="let t of otherCancerTreatments" [ngValue]="t">{{t}}</option>
                          </select>
                        </mat-form-field>
                      </div>

                    </div>
                  </div>

                  <div fxLayout="row" fxLayoutAlign="space-evenly center" style="margin-top: 50px;">
                    <button mat-raised-button matStepperPrevious (click)="this.previous()">Anterior</button>
                    <button mat-raised-button matStepperNext (click)="this.next()" [disabled]="this.clinicDetails.invalid">Siguiente</button>
                  </div>
              </form>
            </div>
          </mat-step>
        <mat-step [stepControl]="expositionDetails" [editable]="true">
          <div class="questions-div">
            <form [formGroup]="expositionDetails">
              <h2>Tabaquismo</h2>
              <h3>¿Alguna vez ha fumado tabaco? Si aún sigue fumando deje vacío el campo <i>Edad Final</i>.</h3>
              <div fxLayout="column" fxLayout.gt-sm="row">
                <mat-form-field appearance="outline" fxFlex="40">
                  <mat-label>Respuesta</mat-label>
                  <select  matNativeControl  formControlName="smokeAnswer" matInput (change)="enableSmokeInfo()">
                    <option value="" disabled>Indica la respuesta</option>
                    <option *ngFor="let t of surgeryAnswers" [ngValue]="t">{{t}}</option>
                  </select>
                </mat-form-field>
                <div fxFlex="5" fxHide.lt-md="true"></div>
                <mat-form-field appearance="outline" fxFlex="40">
                  <mat-label>Media cigarrillos/dia</mat-label>
                  <input matInput formControlName="averageCigarettes" required type="number">
                </mat-form-field>
              </div>
              <div fxLayout="column" fxLayout.gt-sm="row">
                <mat-form-field appearance="outline" fxFlex="40">
                  <mat-label>Edad inicio</mat-label>
                  <input matInput formControlName="initialSmokeYear" required type="number">
                </mat-form-field>
                <div fxFlex="5" fxHide.lt-md="true"></div>
                <mat-form-field appearance="outline" fxFlex="40">
                  <mat-label>Edad final</mat-label>
                  <input matInput formControlName="endSmokeYear" type="number">
                </mat-form-field>
              </div>


              <h3>¿Ha fumado otros productos?</h3>
              <div fxLayout="column">
                <div fxLayout="row">
                  <mat-form-field appearance="fill" fxFlex="100" fxFlex.gt-sm="55">
                    <mat-label>Sustancias</mat-label>
                    <mat-select  formControlName="otherSusbtancesAnswer" multiple (selectionChange)="enableOtherSmokingProducts()">
                      <mat-option *ngFor="let t of otherSubstances" [value]="t">{{t}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <div fxFlex="45" fxHide.lt-md="true"></div>
                </div>
                <div fxLayout="row">
                  <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-sm="55">
                    <mat-label>Otros</mat-label>
                    <input matInput formControlName="extraOtherSusbtancesAnswer" type="text">
                  </mat-form-field>
                  <div fxFlex="45" fxHide.lt-md="true"></div>
                </div>

              </div>

              <h2>Localización</h2>
              <h3>¿Reside o trabaja a menos de 1km de una autovía/autopista?</h3>
              <mat-form-field appearance="outline" >
                <mat-label>Respuesta</mat-label>
                <select  matNativeControl  formControlName="residenceNearRoadAnswer" matInput>
                  <option value="" disabled>Indica la respuesta</option>
                  <option *ngFor="let t of surgeryAnswers" [ngValue]="t">{{t}}</option>
                </select>
              </mat-form-field>
              <h3>¿Sabe si ha estado expuesto a alguna sustancia cancerígena?</h3>
              <div fxLayout="column">
                <div fxLayout="row">
                  <mat-form-field appearance="fill" fxFlex="100" fxFlex.gt-sm="55">
                    <mat-label>Productos</mat-label>
                    <mat-select  formControlName="dangerousSubstances" multiple (selectionChange)="enableOtherExpositions()">
                      <mat-option *ngFor="let t of dangerousSubstances" [value]="t">{{t}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <div fxFlex="45" fxHide.lt-md="true"></div>

                </div>
                <div fxLayout="row">
                  <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-sm="55">
                    <mat-label>Otros</mat-label>
                    <input matInput formControlName="extraDangerousSubstances" type="text">
                  </mat-form-field>
                  <div fxFlex="45" fxHide.lt-md="true"></div>
                </div>

              </div>
              <div fxLayout="row" fxLayoutAlign="space-evenly center" style="margin-top: 50px;">
                <button mat-raised-button matStepperPrevious (click)="this.previous()">Anterior</button>
                <button mat-raised-button matStepperNext (click)="this.next()" [disabled]="this.expositionDetails.invalid">Siguiente</button>
            </div>
            </form>
          </div>
          </mat-step>
          <mat-step  [stepControl]="jobDetails" [editable]="true">
            <div class="questions-div">
              <form [formGroup]="jobDetails">
                <h3>¿Está trabajando actualmente?</h3>
                <div fxLayout="column" fxLayout.gt-sm="row">
                  <mat-form-field appearance="outline" fxFlex.gt-sm="40">
                    <mat-label>Trabajando actualmente</mat-label>
                    <select  matNativeControl  formControlName="currentlyWorkingAnswer" matInput (change)="enableJobInfoFields()">
                       <option value="" disabled>Respuesta</option>
                       <option *ngFor="let w of workingAnswers" [ngValue]="w">{{w}}</option>
                    </select>
                  </mat-form-field>
                  <div fxFlex="5" fxHide.lt-md="true"></div>
                  <mat-form-field appearance="outline" fxFlex.gt-sm="40">
                    <mat-label>Puesto de trabajo</mat-label>
                      <input
                      type="text"
                      placeholder="Entra el trabajo"
                      formControlName="currentJobDescription"
                      matInput
                      [matAutocomplete]="auto">
                      <mat-autocomplete #auto="matAutocomplete" [panelWidth]="400">
                          <mat-option
                              *ngFor="let option of filteredJobs"
                              [value]="option">
                            {{option}}
                        </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
                  <ng-container *ngIf="errorMsg">
                    {{errorMsg}}
                  </ng-container>
                </div>
                <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="start center">
                  <mat-form-field appearance="outline" fxFlex.gt-sm="30">
                    <mat-label>Año inicial</mat-label>
                    <input matInput formControlName="initialYearCurrentJob" required type="number" >
                  </mat-form-field>
                  <div fxFlex="5" fxHide.lt-md="true"></div>

                  <mat-checkbox formControlName="currentJobProtections" color="primary">¿Utilizaba medidas de protección (mascarillas, guantes…)?</mat-checkbox>

                </div>
              <div fxLayout="column" style="margin-top: 50px;">
                  <span>¿Ha tenido trabajos previos? Para cada trabajo que haya tenido añada una pestaña y rellene los datos relacionados.</span>
                  <div fxLayout="row" fxLayoutAlign="center center">
                    <button mat-button type="button" (click)="addJobItem()" >Añadir</button>
                    <button mat-button type="button" (click)="deleteJobItem()">Eliminar</button>
                  </div>
                </div>

                <div formArrayName="otherJobs"
                    *ngFor="let item of getOtherJob['controls']; let i = index;"
                   class="cancerType">
                    <div [formGroupName]="i" >
                      <h3>Trabajo {{i+1}}</h3>
                      <div fxLayout="column">

                        <div fxLayout="row">
                          <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-sm="50">
                            <mat-label>Puesto de trabajo</mat-label>
                            <input
                              type="text"
                              placeholder="Entra el trabajo"
                              formControlName="jobDescription"
                              matInput
                              [matAutocomplete]="auto">
                              <mat-autocomplete #auto="matAutocomplete" [panelWidth]="400">
                                  <mat-option
                                      *ngFor="let option of filteredJobs"
                                      [value]="option">
                                    {{option}}
                                </mat-option>
                            </mat-autocomplete>
                          </mat-form-field>
                          <div fxFlex="50" fxHide.lt-md="true"></div>

                        </div>

                        <div fxlayout="row">
                          <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-sm="50">
                            <mat-label>Año inicial</mat-label>
                            <input matInput formControlName="initialYearJob" required type="number">
                          </mat-form-field>
                          <div fxFlex="50" fxHide.lt-md="true"></div>
                        </div>
                        <div fxLayout="row">
                          <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-sm="50">
                            <mat-label>Año final</mat-label>
                            <input matInput formControlName="finalYearJob" required type="number">
                          </mat-form-field>
                          <div fxFlex="50" fxHide.lt-md="true"></div>
                        </div>
                        <mat-checkbox formControlName="jobProtections" color="primary">¿Utilizaba medidas de protección (mascarillas, guantes…)?</mat-checkbox>
                    </div>
                  </div>
                </div>


               <div fxLayout="row" fxLayoutAlign="space-evenly center" style="margin-top: 50px;">
                <button mat-raised-button matStepperPrevious (click)="this.previous()">Anterior</button>
                <button mat-raised-button matStepperNext (click)="this.next()" [disabled]="this.jobDetails.invalid">Siguiente</button>
              </div>
              </form>
            </div>
          </mat-step>
          <mat-step [stepControl]="familyDetails" [editable]="true">
            <div class="questions-div">
              <form [formGroup]="familyDetails">
                <h2>Familiares</h2>
                <h3>¿Se ha diagnosticado a algún miembro de su familia (no política) de cáncer?</h3>
                <mat-form-field appearance="outline">
                  <mat-label>Respuesta</mat-label>
                  <select  matNativeControl  formControlName="anyFamilyDiagnoseAnswer" matInput >
                    <option value="" disabled>Respuesta</option>
                    <option *ngFor="let t of familyAnswers" [ngValue]="t">{{t}}</option>
                  </select>

                </mat-form-field>

                <div fxLayout="column" style="margin-top: 50px;">
                  <span>Para cada familiar diagnosticado que haya tenido añada una pestaña y rellene los datos relacionados.</span>
                  <div fxLayout="row" fxLayoutAlign="center center">
                    <button mat-button type="button" (click)="addFamilyItem()" >Añadir</button>
                    <button mat-button type="button" (click)="deleteFamilyItem()">Eliminar</button>
                  </div>
                </div>
                <div formArrayName="familyDiagnoses"
                  *ngFor="let item of getOtherFamily['controls']; let i = index;"
                class="cancerType">
                  <div [formGroupName]="i" >
                    <h3><b>Familiar {{i+1}}</b></h3>
                    <h3>Información personal</h3>
                    <div fxLayout="row" fxLayoutAlign="start center" >
                      <mat-form-field appearance="outline" >
                        <mat-label>Relación</mat-label>
                        <select  matNativeControl  formControlName="relation" matInput >
                          <option value="" disabled>Tipo de relación</option>
                          <option *ngFor="let t of familyRealtions" [ngValue]="t">{{t}}</option>
                        </select>
                      </mat-form-field>
                      <div fxFlex="10"></div>
                      <mat-checkbox formControlName="isDead" color="primary" (change)="isDeadEnables(i)">¿Ha fallecido?</mat-checkbox>

                    </div>

                    <mat-form-field appearance="outline" *ngIf="!getFamilyForm(i).get('isDead')?.value">
                      <mat-label>Edad</mat-label>
                      <input matInput formControlName="age" required type="number">
                    </mat-form-field>

                    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign.gt-sm="start center">
                      <mat-form-field appearance="outline" *ngIf="getFamilyForm(i).get('isDead')?.value">
                        <mat-label>Edad de defunción</mat-label>
                        <input matInput formControlName="deadDate" required type="number">
                      </mat-form-field>
                      <div fxFlex="10"></div>
                      <mat-checkbox style="margin-bottom: 20px" formControlName="deadCause" color="primary" *ngIf="getFamilyForm(i).get('isDead')?.value">Fallecimiento debido al cáncer</mat-checkbox>
                    </div>


                    <h3>Datos clínicos</h3>
                    <div fxLayout="column">
                      <div fxLayout="row" fxLayoutAlign="start center">
                        <mat-form-field appearance="outline">
                          <mat-label>Tipo de cáncer</mat-label>
                          <select  matNativeControl  formControlName="cancerType" matInput (change)="enableOtherFamilyTypes(i)">
                            <option value="" disabled>Indica el tipo</option>
                            <option *ngFor="let gen of familiarCancerTypes" [ngValue]="gen">{{gen}}</option>
                          </select>
                        </mat-form-field>
                        <div fxFlex="10"></div>
                        <mat-form-field appearance="outline" fxFlex="40">
                          <mat-label>Otros tipos</mat-label>
                          <input matInput formControlName="otherCancerType" type="text">
                        </mat-form-field>
                      </div>


                      <span>¿Ha desarrollado metástasis?</span>
                      <div fxLayout="row">
                        <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-sm="30">
                          <mat-label>Respuesta</mat-label>
                          <select  matNativeControl  formControlName="hasMetastasis" matInput>
                            <option value="" disabled>Indica tu respuesta</option>
                            <option *ngFor="let gen of familyAnswers" [ngValue]="gen">{{gen}}</option>
                          </select>
                        </mat-form-field>
                        <div fxFlex="70" fxHide.lt-md="true"></div>
                      </div>


                      <span>¿Ha realizado algún tipo de tratamiento para su otro cáncer?</span>
                      <div fxLayout="row">
                        <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-sm="30">
                          <mat-label>Respuesta</mat-label>
                          <select  matNativeControl  formControlName="hasTreatment" matInput (change)="enableTreatmentsFamily(i)">
                            <option value="" disabled>Indica tu respuesta</option>
                            <option *ngFor="let gen of familyAnswers" [ngValue]="gen">{{gen}}</option>
                          </select>
                        </mat-form-field>
                        <div fxFlex="70" fxHide.lt-md="true"></div>
                      </div>

                      <div fxLayout="column" fxLayout.gt-sm="row">
                        <mat-form-field appearance="fill" fxFlex="100" fxFlex.gt-sm="30">
                          <mat-label>Tratamientos</mat-label>
                          <mat-select  formControlName="treatmentType" multiple (selectionChange)="enableOtherFamilyTreatmentTypes(i)">
                            <mat-option *ngFor="let t of treatmentTypesList" [value]="t">{{t}}</mat-option>
                          </mat-select>
                        </mat-form-field>
                        <div fxFlex="5" fxHide.lt-md="true"></div>

                        <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-sm="30">
                          <mat-label>Otros tipos</mat-label>
                          <input matInput formControlName="otherTreatment" type="text">
                        </mat-form-field>
                      </div>

                    </div>

                  </div>
                </div>
                <div style="width: 100%; margin-top: 50px;" fxLayout="row" fxLayoutAlign="center center">
                  <button mat-raised-button mat-button (click)="this.submitForm()" [disabled]="this.familyDetails.invalid || loadingSubmit" color="primary">
                    <span *ngIf="!loadingSubmit">Enviar Formulario</span>
                  <mat-spinner *ngIf="loadingSubmit" color="primary" [diameter]="30"> </mat-spinner></button>
              </div>
              </form>
            </div>
          </mat-step>



   </mat-horizontal-stepper>

 </div>
</div>
