<div class="table-div" >

    <h1>Área investigadores:</h1>
    <h3> En esta área se pueden consultar los resultados de las encuestas realizadas por pacientes de cáncer de pulmón.</h3>
    <div class="inline-charts">
        <chart *ngIf="showGraphs[1]" class="dashchart2" [type]="typeAgeRanges" [data]="dataAgeRanges"
        [options]="optionsAgeRanges"></chart>
        <chart *ngIf="showGraphs[0]" class="dashchart" [type]="typeLocalitzation" [data]="dataLocalitzation"
        [options]="optionsLocalitzation"></chart>
    </div>
    <div class="inline-charts">
       <chart *ngIf="showGraphs[3]" class="dashchart" [type]="typeExpositions" [data]="dataExpositions"
        [options]="optionsExpositions"></chart>
        <chart *ngIf="showGraphs[2]" class="dashchart" [type]="typeMutations" [data]="dataMutations"
        [options]="optionsMutations"></chart>
    </div>


    <h3> La siguiente tabla detalla todas las encuestas realizadas.</h3>
    <ng-container >

        <div style="overflow-x: auto;">
            <!--Tabla con la información-->
            <table style="box-shadow: none">
                <!--Primera fila con los títulos-->
                <thead>
                    <th >
                        <span class="header-name">
                        Id
                        <!--   <span class="header-arrows">
                            <app-sort-arrows [sortByObject]="orderedBy" [attribute]="'INEP'"></app-sort-arrows>
                        </span>-->
                        </span>
                    </th>

                    <th >
                        <span class="header-name">
                            Género
                            <!-- <span class="header-arrows">
                            <app-sort-arrows [sortByObject]="orderedBy" [attribute]="'NAME'"></app-sort-arrows>
                            </span>-->
                        </span>
                    </th>

                    <th >
                        <span class="header-name">
                            <span style="margin-right: 14.5px;">
                            Edad
                            </span>
                        </span>
                        <!-- <span class="header-arrows">
                            <app-sort-arrows [sortByObject]="orderedBy" [attribute]="'STATE'"></app-sort-arrows>
                            </span>
                        </span>-->
                    </th>

                   <!-- <th>País</th>-->
                    <th>Residencias</th>
                    <th>Exposición a tóxicos</th>
                    <th>Vida laboral</th>
                    <th >
                        <span class="header-name">
                            <span style="margin-right: 18.5px;">
                            Tumor principal
                            </span>
                        </span>
                        <!--  <span class="header-arrows">
                            <app-sort-arrows [sortByObject]="orderedBy" [attribute]="'EXPIRATIONDATE'"></app-sort-arrows>
                            </span>
                        </span>-->
                    </th>
                    <th >
                        <span class="header-name">
                            <span style="margin-right: 18.5px;">
                            Tumor Secundario
                            </span>
                        </span>
                        <!--  <span class="header-arrows">
                            <app-sort-arrows [sortByObject]="orderedBy" [attribute]="'EXPIRATIONDATE'"></app-sort-arrows>
                            </span>
                        </span>-->
                    </th>

                </thead>
                <tbody>
                    <!--Empiezan las filas dentro de la tabla-->
                    <tr  *ngFor="let person of persons">
                        <td ><b>{{person._id}}</b></td>
                        <td ><b>{{person.sex}}</b></td>
                        <td ><b>{{person.age}}</b></td>
                       <!-- <td ><b>{{person.country}}</b></td>-->

                        <td >
                            <div *ngFor=" let place of person.livingPlaces">
                                <span *ngIf="place.yearOfEnd">({{place.yearOfStart}} -- {{place.yearOfEnd}})  </span>
                                <span *ngIf="!place.yearOfEnd">({{place.yearOfStart}} -- Presente)  </span>
                                <span>{{place.city.name}}  </span>
                                <span>{{place.postalCode}}  </span>
                                <span>({{place.country}})  </span>
                            </div>
                        </td >
                        <td>
                            <span *ngIf="person.expositionDetails[0].smoker && person.expositionDetails[0].endAge==-1">
                                Fumador desde los {{person.expositionDetails[0].startAge}} años. Media de {{person.expositionDetails[0].avgCigarrettes}}.
                            </span>
                            <span *ngIf="person.expositionDetails[0].smoker && person.expositionDetails[0].endAge!=-1">
                                Exfumador desde los {{person.expositionDetails[0].startAge}} años hasta los {{person.expositionDetails[0].endAge}}  años. Media de {{person.expositionDetails[0].avgCigarrettes}} cigarros.
                            </span>
                            <div *ngFor="let toxicPorduct of person.expositionDetails[0].otherProducts">
                                <span>{{toxicPorduct}}, </span>
                            </div>
                            <span *ngIf="person.expositionDetails[0].nearbyRoad ">
                                Vive cerca de una carretera principal.
                            </span>
                        </td>
                        <td>
                            <p *ngFor="let job of person.jobDetails">
                                Trabajando de {{job.job}}  ({{job.initialYear}} --
                                    <span *ngIf="job.endYear==0">Presente</span>
                                    <span *ngIf="job.endYear!=0">{{job.endYear}}</span>)
                            </p>
                        </td>
                        <td >
                            <p>Diagnosticado en {{person.mainDiagnose[0].diagnoseYear}}</p>
                            <p>Tumor de {{person.mainDiagnose[0].type}}</p>
                            <p *ngIf="person.mainDiagnose[0].metastasis">Metastasos desarrollada en {{person.mainDiagnose[0].metastasisYear}} y
                                 tratado con tratamiento {{person.mainDiagnose[0].metastasisTreatment}}</p>
                            <p *ngIf="person.mainDiagnose[0].operatedCancer"> Cirugía en {{person.mainDiagnose[0].operationYear}} </p>
                        </td>
                        <td >
                            <div *ngFor="let tumor of person.otherDiagnoses">
                                <p>Diagnosticado en {{tumor.diagnoseYear}}</p>
                                <p>Tumor de {{tumor.type}}</p>
                                <p *ngIf="tumor.surgery"> Cirugía en {{person.tumors[0].surgery[0].year}} </p>
                            </div>
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
    </ng-container>

</div>
