<div div="table-div" >
    <h1>Área investigadores:</h1>
    <h3> En esta área se pueden consultar los datos de las encuestas realizadas por pacientes de cancer de pulmón.</h3>
    <table>
        <tr>
            <th>
                Id
            </th>
            <th>
                Género
            </th>
            <th>
                Edad
            </th>
            <th>
                País
            </th>
            <th>
                Código Postal
            </th>
            <th>
                Residencias
            </th>
            <th>
                Tumor principal
            </th>
        </tr>
        <tr  *ngFor="let person of persons">
            <td>{{person._id}}</td>
            <td>{{person.sex}}</td>
            <td>{{person.age}}</td>
            <td>{{person.country}}</td>
            <td>{{person.postalcode}}</td>
            <td></td>
            <td> 
                <p>Diagnosticado en {{person.tumors[0].diagnoseYear}}</p>
                <p>Tumor de {{person.tumors[0].type}}</p>
                <p *ngIf="person.tumors[0].surgery"> Cirugía en {{person.tumors[0].surgery[0].year}} </p>
            </td>
        </tr>
    </table>
</div>