

<mat-drawer-container>
  <mat-drawer #drawer mode="over" style="width: 20%; height: 100%; min-width: 300px;">
    <div class="menu-header-drawer" fxLayout="row" fxLayoutAlign="start center" >
      <h2 style="margin-top: 0 !important; margin-left: 20px; font-weight: lighter;">Menú Lung Tracker</h2>
      <img
        width="30"
        alt="Lung Tracker Logo"
        src="assets/images/lung_tracker_icon.png"
        style="margin-left: auto; margin-right: 25px;"/>
    </div>
    <h3 class="second-title-drawer">Pacientes</h3>
    <div fxLayout="row" fxLayoutAlign="start center" class="drawer-menu-item" (click)="goToForm()" >
      <mat-icon class="icon-element">list_alt</mat-icon>
      <span class="text-element">Formulario</span>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" class="drawer-menu-item" (click)="printSomething()" >
      <mat-icon class="icon-element">map</mat-icon>
      <span class="text-element">Mapas</span>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" class="drawer-menu-item" (click)="printSomething()" >
      <mat-icon class="icon-element">info</mat-icon> 
      <span class="text-element">Información</span>
    </div>
    <mat-divider style="margin-top: 15px;"></mat-divider>
    <h3 class="second-title-drawer">Investigadores</h3>
    <div fxLayout="row" fxLayoutAlign="start center" class="drawer-menu-item" (click)="goToLoginInvestigadores()" >
      <mat-icon class="icon-element">person_pin</mat-icon>
      <span class="text-element">Área investigadores</span>
    </div>
  </mat-drawer>
  <mat-drawer-content style="padding: 0; margin: 0;">
    <div class="toolbar" role="banner" >
      <button mat-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <div fxLayout="row" style="cursor: pointer;" (click)="goToHome()">
        <img
        width="30"
        alt="Lung Tracker Logo"
        src="assets/images/lung_tracker_icon.png"  />
      <span>Lung Tracker</span>
      </div>
      <button  class="login-button" mat-raised-button color="primary" type="submit" *ngIf="!getToken()" (click)="goToLoginButton()">Acceso área investigadores</button>
      <button  class="login-button" mat-raised-button color="primary" type="submit" *ngIf="getToken()" (click)="logOut()">Log Out</button>
    </div>
    <div style="width: 100%; height: 60px;"> </div>
    <div style="width: 100%;">
      <router-outlet style="width: 100%;"></router-outlet>
    </div>

    <app-footer style="width: 100%;"></app-footer>
  </mat-drawer-content>
</mat-drawer-container>





