.welcome-text {
    font-weight: 6500;
    font-size: 35px;
    margin-bottom: 50px;

}

.light-text {
    font-weight: 400;
    font-size: 17px;
}

.form-item {
    display: flex;
    width: 30%;
}
.form-div{
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 200px;
    background-color: rgb(201, 211, 221);
}

.login{
    background-color: rgb(201, 211, 221);

}

.form-button{
    width: 100%;
}
